[2016-03-10 14:46] darmie opened #2 "Problem Creating Adonis Project"
I am having this error when I create Adonis project. Please fix.

[code]

[2016-03-10 16:28] thetutlage commented on #2
Share following your windows version

[2016-03-10 16:31] darmie commented on #2
Windows 10, x64

[2016-03-12 14:52] darmie commented on #2
@thetutlage  Please I am still having this problem. Can you suggest how to fix it?

[2016-03-12 15:34] thetutlage commented on #2
the problem is with fsevents, let me check it out by installing windows.

[2016-03-12 15:40] darmie commented on #2
I just found out that it's an optional dependency. I guess it won't affect
anything.

On Sat, Mar 12, 2016 at 4:34 PM Harminder Virk <notifications@github.com>
wrote:

[2016-05-07 22:43] RomainLanz commented on #2
@darmie Can you try to run `adonis fix` into your project?

[2016-06-02 06:56] RomainLanz commented on #2
@thetutlage This can be closed.

[2016-06-02 10:00] #2 closed

[2016-06-05 13:46] Ifnot commented on #2
I still get this problem in a Windows 10 64bits (with last update).

I just install the `adonis-cli` with `npm install -g anodis-cli`, and create a new project with `adonis new my_project`. The git clone is good, the npm install fails at the end with the exactly same error above.

Running `npm start` after the installation run the project well but running `npm install` manually fails.

I think it

[2016-06-05 13:57] RomainLanz commented on #2
Please, upgrade `npm`

On 5 June 2016 at 15:46:22, Favre Anael (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-06-05 16:44] Ifnot commented on #2
Wow did not noticed that it was really outdated on my windows. I am up to date now.

But the problem is still here :

[code]

Thanks for your fast response btw :)

[2016-08-03 16:28] GTCrais commented on #2
I have the same problem:
[code]

[2016-08-03 16:37] GTCrais commented on #2
Solved it - downgrading to npm version 3.8.* fixed this issue. Found the answer here:
https://github.com/adonisjs/adonis-framework/issues/161

[2016-09-03 12:02] allanfreitas opened #3 "adonis-cli new command creating the fixed "ace" file one path above the right path"
adonis-cli is creating a ace file on the path that adonis-cli new is called,
and not on the path to new created project.

If you execute adonis new demo on the path "/myapps" a demo new app will be created,
but the ace file will be created/fixed inside the "/myapps" folder,
and not inside the "demo" folder.

[2016-09-03 19:27] #3 closed

[2016-10-16 18:34] RichardJECooke opened #13 "New project install fails"
I ran `./node_modules/.bin/adonis new src`, as per the readme: `http://www.adonisjs.com/docs/3.1/installation`.

Using node 6.8.1, npm 3.10.8

I get the following error:

[code]

[2016-10-18 17:11] thetutlage commented on #13
`fsevents` is a killer. Can u do install **node_modules** using the following commands.

[code]

[2016-10-18 17:11] #13 closed

[2016-10-18 17:43] RichardJECooke commented on #13
Please will you put this in your documentation. I was really excited to try Adonis. But if the first thing that happens to a new user is a library breaks using the latest stable version of node it's a very off-putting experience. Step 1 of a readme failing is not great marketing.

[2016-11-08 09:11] mastito03 opened #17 "run ace when on project directory"
it just idea.
why not make this command run as alias for ace when on project directory. like this we don't need to use two command for make new project and managing project. and it make this command use more often. but it just alias so use ace command is no problem.

[2016-11-08 09:16] RomainLanz commented on #17
Hey @mastito03 !

We already discuss of this idea with @thetutlage but it seems that it could confuse people. We will reconsider this demand and see what we can do. `adonis-cli` is currently rewritten in top of `adonis-ace`.

[2016-11-19 22:51] maxime1992 opened #19 "Yarn support"
Hi !

I'm currently discovering adonis which seems really promising !

When I tried to setup my first project, the readme says to run :

But when I did that, all the deps where setup using npm.
It would be nice to have a yarn argument or --skip-npm so we can run yarn later on our own.

[2016-11-20 06:46] thetutlage commented on #19
Yup, `--skip-npm` will be nice to have.

[2016-11-26 11:13] thetutlage commented on #17
Closing since not actionable

[2016-11-26 11:13] #17 closed

[2016-11-26 12:11] #19 closed

[2017-02-09 20:56] niallobrien opened #24 "Installing on Windows"
Hi, below is the console output when trying to install on Windows 7.

[code]

[2017-02-09 20:57] niallobrien opened #25 "-V flag should be -v"
[code]

[2017-02-10 05:23] thetutlage commented on #25
Yup will get it fixed. Thanks for reporting

[2017-02-14 08:37] #24 closed

[2017-02-25 10:13] thetutlage commented on #25
Just realized it is from commander instead of `ace`. https://www.npmjs.com/package/commander#automated---help.

Closing since Adonis makes use of `commander`

[2017-02-25 10:13] #25 closed

[2017-03-03 10:36] imranhou commented on #24
Hi,

First - Thank you for your work on this project.
Since new project creation is broken, when do you expect to include this fix in a versioned release?

[2017-03-03 10:37] RomainLanz commented on #24
Hey @imranhou !

Did you still have this issue?

**Note**: This issue was only on Windows.

[2017-03-03 10:45] imranhou commented on #24
Wow quick response - yes, I do on windows - which is where I'm trying to use it.

[2017-03-03 10:46] RomainLanz commented on #24
Okay. It's possible that no release was publish since this fix.

@thetutlage will do it as soon as possible.

[2017-03-03 10:47] imranhou commented on #24
I get the following error in windows
Command failed: cd C:\code\nodejs\adonis\simple-blog; yarn
It doesn't like the semicolon, replacing is with && works. I just submitted pull 29 for it if you want to use it.

This fix is not in Master either only in develop branch.

[2017-05-21 14:23] ajoslin103 opened #38 "adonis new --local"
interesting reading lately recommending NOT installing packages globally, thereby ensuring that older codebases stay functional as they were built.

this means that to start a new adonis project I have to create a throw-away wrapper

[code]

perhaps you could add a --local flag (or --here) to not create and enter the application directory?

[2017-05-27 16:30] abrahamy opened #39 "Adonis-Cli Requires NPM Even When --yarn Flag Is On"
I use yarn exclusively for managing dependencies and for this reason I do not have npm installed. On Arch Linux nodejs, npm and yarn are separate packages so one can install only nodejs and yarn without npm. This is my current setup. However, after installing adonis-cli with `yarn global add adonis-cli` and attempting to create a project with `adonis new yardstick --yarn` I get the error in the at

[2017-07-11 21:31] greenkeeper[bot] opened #43 "An in-range update of adonis-ace is breaking the build 🚨"
## Version **3.0.8** of [adonis-ace](https://github.com/adonisjs/ace) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/adonisjs/adonis-cli/compare/greenkeeper%2Fadonis-ace-3.0.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      adonis-ace
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-07-24 16:55] greenkeeper[bot] opened #45 "An in-range update of semver is breaking the build 🚨"
## Version **5.4.0** of [semver](https://github.com/npm/node-semver) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/adonisjs/adonis-cli/compare/greenkeeper%2Fsemver-5.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semver
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-07-27 14:53] Naoray opened #47 "Getting error after latest update."
I am getting the following error when trying to run `adonis` in command line:

[code]

Quick google found [this](https://github.com/SpencerCDixon/redux-cli/issues/42#issuecomment-192751444)

Using Ubuntu 16.04
Node: v8.2.1

[2017-07-28 08:03] RomainLanz commented on #47
Hey @Naoray 👋

Which version of the `adonis-cli` are you using?

[2017-07-28 08:03] RomainLanz commented on #38
Hey @ajoslin103 👋

May you give us a link? 😄

[2017-07-28 11:21] ajoslin103 commented on #38
Originally I had watched a video which led me to a few articles -- I can't remember the video or articles...  But I did find a couple with G's help

https://www.smashingmagazine.com/2016/01/issue-with-global-node-npm-packages/

https://www.sitepoint.com/solve-global-npm-module-dependency-problem/

[2017-07-28 12:17] RomainLanz commented on #38
I think you misunderstood the meaning of those articles.

`adonis-cli` is a CLI to help you quickly get ready to develop and is not required when you use Adonis.
You can clone the app repository and start using Adonis without even hearing about `adonis-cli`.

[2017-07-28 13:00] ajoslin103 commented on #38
I have become a huge fan of tooling over the last 5 years, and the tools are continually evolving.

And I have experienced the issue of going back to a project after more than a year and the global installs of the tooling had been updated and it took many hours before I could build again

While this may not be a perfect case of the problem, the underlying issue does exist.  Breaking changes are pa

[2017-07-28 13:07] RomainLanz commented on #38
This CLI is only used once and only useful to create new project. If you are going back to an Adonis application you'll not need to use the CLI again.

The CLI that you will use is `ace`, and this one is inside your `package.json`.

[2017-07-28 13:18] ajoslin103 commented on #38
Ah, I had confused the cli with the ace.

And so, as usual, you are many steps ahead of me :) and already putting the ace command into the project, so it stays with the code.

How will I tell the cli if I want an Adonis3 or Adonis4 project?

[2017-07-28 13:40] RomainLanz commented on #38
Which CLI? 😄

I hope you'll always start a new project with the latest version, but you can define a `blueprint` inside `adonis-cli` if you want to target another repository (like Adonis 3.0 one).

Since `ace` is inside your local dependencies by default, you don't need to target a version when you use it.

[2017-07-28 13:48] ajoslin103 commented on #38
😄  indeed!  I don't expect to ever want to go back to Adonis3 once Adonis4 is released!!
  -- but it's good to know that there is a way (even if there isn't a why)

[2017-07-28 15:02] Naoray commented on #47
the latest: v3.0.2

[2017-07-28 15:08] Naoray commented on #47
I updated to v3.0.2 but now I get an error in [new Command](https://github.com/adonisjs/adonis-cli/blob/develop/src/Commands/New/index.js#L114)

EDIT: just saw I was using node v6.11.0 switched to v8.2.1 and it works now

[2017-07-28 15:08] #47 closed

[2017-07-28 15:11] #38 closed

[2017-08-08 08:39] #39 closed

[2017-08-08 08:39] #43 closed

[2017-08-08 08:39] #45 closed

[2017-08-11 12:25] ntvsx193 opened #49 "Command serve in dev mode add skip watch on exclude files"
I write code in PhpStorm. IDE created dir `.idea`. In watch mode this dir is system and it is should not be watched.

Sample output log:

[code]

[2017-08-11 12:27] thetutlage commented on #49
Cool, I will add it to the list + will allow users to pass a custom set of directories to ignore

[2017-08-11 12:27] ntvsx193 commented on #49
Thanks!

[2017-08-11 13:22] ntvsx193 opened #50 "Make controller for Ws get error"
When make controller for ws received error:

[code]

Tree view files:

[2017-08-11 19:51] ntvsx193 opened #52 "Command route:list not show all routes when use only with resource as arguments"
Sample for replay:

[code]

Output command `adonis route:list`
[code]

But when set accepted methods as array, `adonis route:list` display correct
[code]

[code]

[2017-08-11 20:50] RomainLanz commented on #52
Hey @ntvsx193 !

According to the code of Adonis' Router 4.0 the [method `only()`](https://github.com/adonisjs/adonis-framework/blob/develop/src/Route/Resource.js#L156) accept want an array as parameter.

Same restriction goes for [`except()`]((https://github.com/adonisjs/adonis-framework/blob/develop/src/Route/Resource.js#L183)).

This is a breaking change from 3.0.

[2017-08-11 20:52] ntvsx193 commented on #52
Okay, so good. I close issue.

[2017-08-11 20:52] #52 closed

[2017-08-16 09:33] #50 closed

[2017-08-16 09:37] thetutlage commented on #49
Fixed and allowed custom `watch` dirs too https://github.com/adonisjs/adonis-cli/commit/23f17987c0a558ed4875a611f53041edb4909834#diff-d4900d5024081117910534bb6c472483R33

[2017-08-16 09:37] #49 closed

[2017-08-30 18:27] keeross opened #55 "Why not ignore files in public folder"
Why not ignore files in `/public` folder in case when `--dev` server starts?

[2017-08-30 18:32] keeross commented on #55
There is a filter by extension in code, so each time a '.js' file in `/public` is changed, the server restarts. I don't think that is should in that case, as soon as in `/public` folder files are being server only for client.

[2017-08-31 06:56] thetutlage commented on #55
Fixed in #56

[2017-08-31 06:56] #55 closed

[2017-09-04 14:58] salamaashoush opened #57 "adonis cli uses slim app template by default"
adonis cli uses slim app template by default and there is no option for fullstack app
![screenshot](http://i.imgur.com/9WU8Ivh.png)

[2017-09-04 15:00] salamaashoush commented on #57
sorry it is actually the full stack one please update package.json file

[2017-09-04 15:00] #57 closed

[2017-09-04 16:26] RomainLanz commented on #57
May you create a PR ?

[2017-09-05 06:02] salamaashoush commented on #57
done

[2017-09-28 12:27] radmen opened #60 "Some cli commands "hang""
Looks like some of the command line scripts cause Node hangup.

eg:

[code]

Cli lists routes and "waits" indefinitely. I've tried to dig into this issue and it looks for me that some commands are returning Promise (function handlers are defined with `async` keyword) which is not resolved (or waits for resolving).

Some commands (eg `adonis --help`) stop node after execution.

I tried to write a f

[2017-09-28 13:02] thetutlage commented on #60
None of the commands hangs for me, unless you are not connecting to Database in your startup code.

[2017-09-28 13:24] radmen commented on #60
I've tried to reproduce the problem and... it's gone. Since I'm not able to reproduce it there's nothing to report.

Sorry for problem.

[2017-09-28 13:24] #60 closed

[2017-10-23 09:41] radmen opened #64 "skip loading `start/events.js` while running adonis/ace"
Can't say if I'm posting this issue on the right repo...

My application has defined some Redis event listeners in `event.js` file.
I've prepared a new command which is supposed to listen on MQ backend for new jobs (so it's a long-running command).

While running command application is still listening for events.
In my case, it was resulting in doubled events which were later stored twice in db.

[2017-10-23 10:42] thetutlage commented on #64
The `events.js` is also used for other events via `Event` provider. So it's not possible to know whether to load or not load this file.

The best way is to create `start/redis.js` file and `preLoad` it on server start inside `server.js` file.

So it will be

[code]

Docs here http://dev.adonisjs.com/docs/4.0/ignitor#_preloading_files

[2017-10-23 11:11] radmen commented on #64
Ah, that makes sense. I thought that all files from `start` are loaded during bootup.

Thanks!

[2017-10-23 11:11] #64 closed

[2017-10-27 23:54] benallfree opened #65 "Trait template?"
Is anyone working on this?

[2017-10-28 03:27] thetutlage commented on #65
Nope, but can be added.

[2017-10-28 04:32] benallfree opened #66 "Use ncp?"
Looking at `cli.copy` and wondering if [ncp](https://www.npmjs.com/package/ncp) would be helpful for package maintainers. If my package has multiple migration files, or multiple config files in subfolders, using `ncp` under the hood rather than `fs.copy` would make publishing easier. Thoughts?

[2017-10-28 04:32] benallfree commented on #65
Assign to me, will send PR

[2017-10-28 18:17] thetutlage commented on #65
Done :)

[2017-10-28 18:18] thetutlage commented on #66
Yes seems like it makes sense to use `ncp`. Adding to enhancements and will publish with final release, coming first week of November

[2017-10-28 18:53] benallfree commented on #66
Please assign if you would like me to implement

[2017-10-29 12:42] thetutlage commented on #66
Looking into it and found that there is catch with the package, that it will overwrite the existing files, I don't want that to happen

[2017-10-29 16:52] benallfree commented on #66
Here is a sample that does not clobber https://github.com/benallfree/ncp-test

[2017-10-31 03:31] benallfree commented on #65
https://github.com/adonisjs/adonis-cli/pull/67

[2017-11-01 06:26] benallfree opened #69 "'adonis install' should run npm post-install hook"
I think(??) I found a bug that `adonis install` does not run the `postinstall` npm script.

I noticed this because I used `npm link` to local packages. Well, npm 5 has [a bug](https://github.com/npm/npm/issues/17287) where running `npm i` unlinks packages. So I have a post-install to put them back.

It works with `npm install` but not with `adonis install`.

[2017-11-07 18:55] #65 closed

[2017-11-09 06:25] watzon opened #70 "Controller generator generating incorrect methods"
I don't know if it's the generator or the framework with the problem, but I'm putting this here. Currently the [controller generator](https://github.com/adonisjs/adonis-cli/blob/develop/src/Generators/templates/httpController.mustache#L23) creates a controller with the method `delete`, but when you call `Route.resource` it [generates a route](https://github.com/adonisjs/adonis-framework/blob/348f3

[2017-11-09 06:49] RomainLanz commented on #70
Hey @watzon! 👋

I believe with should change the generator even if it's the `Route.resource` that is wrong.
Changing the way `Route.resource` will result in a breaking change that we don't want.

May you create a PR to fi that?

[2017-11-09 06:59] watzon commented on #70
@RomainLanz I was planning on it! Just wanted to make sure we were on the same page. I think the route should be `destroy` anyway.

[2017-11-09 09:02] #70 closed

[2017-11-09 12:28] cannap opened #72 "Error when Foldername has Space Windows 10"
Hi when i have a Folder with space
when use **adonis serve --dev**
I get this error:

[code]

[2017-11-10 06:39] thetutlage commented on #72
Are you sure it's coz of that, since the error stack doesn't has much info

[2017-11-10 10:06] cannap commented on #72
[code]

no i rename "with space" to "withspace"
[code]

[2017-11-10 10:50] thetutlage commented on #72
Okay seems like a bug. Will fix it

[2017-11-10 11:20] RomainLanz commented on #66
@benallfree Could you create a PR with tests to verify that files aren't overwritten?

[2017-11-10 11:22] RomainLanz commented on #69
Hey @benallfree! 👋

This is somehow weird since `adonis-cli` use `npm` directly to install the package.
https://github.com/adonisjs/adonis-cli/blob/develop/src/Commands/Install/steps/install.js#L29

[2017-11-10 20:54] RomainLanz commented on #72
Hey @cannap! 👋

Which version of `Node.js` are you using?

[2017-11-10 23:58] cannap commented on #72
npm 5.3.0
node 8.5.0

[2017-11-12 19:30] Xaz16 opened #73 "'new' creates legacy version of adonis?"
Hi guys.

I followed docs by this [url](http://adonisjs.com/docs/4.0/installation) and really confused when
`adonis new --only-api`
didn't work but in docs it described. Ok, happens. But I can't understand this package.json

[code]

As I understand v3.0 of adonis is deprecated(legacy) and as I see we have adonis packages for v4.0 but why cli creates deprecated project dependencies?
One more points

[2017-11-12 20:05] RomainLanz commented on #73
Hey @Xaz16! 👋

Be sure to use the latest CLI which is `@adonisjs/cli` and not `adonis-cli`.

[code]

Sorry, I didn't get your question.

[2017-11-12 20:50] Xaz16 commented on #73
![2017-11-12_23-44-45](https://user-images.githubusercontent.com/12300576/32703239-dcd0800e-c803-11e7-99cc-ae7ae59f3cf6.png)

Yes, I have latest version.

I mean difference between start screen from cli and docs
![cli](https://user-images.githubusercontent.com/12300576/32703256-1232d0da-c804-11e7-965c-65603cd47118.png)
<img width="903" alt="welcome-page" src="https://user-images.githubusercontent.

[2017-11-12 20:55] RomainLanz commented on #73
Ok, so the first landing page are the one from 3.2.

Could you please run `which adonis` and also try to first uninstall the 3.2 CLI then install the 4.0?

[code]

[2017-11-12 21:25] Xaz16 commented on #73
Thank you so much, but debugging through 'which' help me. It's strange thing that when I do
 ` npm install <anything>`

it's installed in
`/usr/local/bin and /Users/<your_user>/.nvm/versions/node/v8.9.1/bin/adonis`

Because later I installed adonis-cli my PATH see only 2.0 version which in /usr/local/bin and when I remove all adonis binaries from directories and made
`npm install -g @adonisjs/cli`

[2017-11-12 21:25] #73 closed

[2017-11-12 21:29] RomainLanz commented on #73
I'm glad you get it solved!

Happy coding with Adonis 🚀

[2017-11-19 11:40] alanaasmaa opened #77 "Debugging is not stable. (VsCode, Cmder)"
Hello,

Im using vscode to debug nodejs.
My app crashes often and sometimes stops watching files.

I run `npm run dev-debug` that calls `adonis serve --dev --debug` in cmder.
Debugging starts and all is fine.

I attach my vscode with this config
[code]

Everything works okey, except app is crashing pretty often and watch stops watching.

I use [adonuxt template](https://github.com/nuxt-community/a

[2017-11-20 16:57] AxDSan opened #78 "SyntaxError: Unexpected identifier - on fresh `npm i -g @adonisjs/cli`"
Node Version: `v6.11.4`
NPM Version: `5.5.1`
System OS: Windows 10 Pro - x64

Error Stack:
[code]

As the title says, this was done on a truly fresh install (without any prior installation) straight from the guide at http://adonisjs.com/docs/4.0/installation

____

# Closed - Didn't noticed I needed `Node 8.0+` Sorry!

[2017-11-20 17:04] #78 closed

[2017-11-21 15:35] thetutlage commented on #77
I am not sure how exactly Vscode debugger works, but `adonis serve --debug` is the command that starts the debugger to be used with Chrome devtools.

After doing a quick google search I believe you need to do following.

1. Inside `.vscode/launch.json` file, set `program: ${workspaceFolder}/server.js`
2. Do not start the server using `adonis serve`, since Vscode will start it for you once it will

[2017-11-21 16:12] alanaasmaa commented on #77
I don't remember excaxtly but i had some problems also when i launched the server from VsCode so i prefer to attach.

I will try to run server via vscode again, maybe i can recall what the problem was.

Here is my full vscode

[code]

[2017-12-01 00:23] RaymondLC92 opened #79 "adonis make:controler <controller_name> silently fails"
`adonis make:controller <controller_name>` where `<controller_name>` is any single word i.e. "Test" fails silently, it returns nothing and no files are created within app/Controllers/Http

It is my understanding that we should use `adonis make:controller <controller_name>` rather than `node ace make:controller <controller_name>` as the commands are proxied by the new CLI.

`node ace make:controlle

[2017-12-01 04:42] thetutlage commented on #79
The error from `node ace make:controller <controller name>` is valid, since this command exists on the `adonis-cli` package and is not part of your project.

Regarding `adonis make:controller`, can you share the OS you are on and also the Node.js version

[2017-12-08 04:15] RaymondLC92 commented on #79
@thetutlage Any update on this?

[2017-12-08 05:58] thetutlage commented on #79
Nope! All seems to be working fine on my end and the weirdest part is, it is failing with no errors. Does other commands like `make:model` etc works fine?

[2017-12-08 20:00] RaymondLC92 commented on #79
The other commands also do not work, in fact it seems none of the commands work.

Are the commands installed by installing the CLI?

[2017-12-09 05:23] RaymondLC92 commented on #79
typing adonis with no command gives me the following:

adonis

  Usage:  [options] [command]

  Options:

    -h, --help  output usage information

  Commands:

    new [options] <name>  Scaffold a new AdonisJs application with the name provided.
  Extras:

    [command] --help output command detail info

[2017-12-09 07:13] thetutlage commented on #79
Seems like you are running an old version of adonis cli. Install it as

[code]

[2017-12-09 09:03] RaymondLC92 commented on #79
Odd, that's how our systemadmin says he installed it.

Regardless npm un -g @adonisjs/cli followed by an npm i -g @adonisjs/cli fixed it.

Thanks yet again.

[2017-12-09 12:19] thetutlage commented on #79
👍

[2017-12-09 12:19] #79 closed

[2017-12-14 11:40] thetutlage commented on #66
Closing since no response from the issue reporter and not actionable as well

[2017-12-14 11:40] #66 closed

[2017-12-14 11:48] thetutlage commented on #69
Closing since no response from the issue reporter and not actionable as well

[2017-12-14 11:53] thetutlage commented on #77
The issue is not actionable. If you want you can ask for more help on forum, since there are bunch of Vscode users using Adonis https://forum.adonisjs.com/

[2017-12-18 22:54] edDimensi opened #81 "make:validator not found."
Hi, in [docs](http://adonisjs.com/docs/4.0/validator#_route_validator) i see command `make:validator`. In cli i not found this command.
![screenshot_20171219_015414](https://user-images.githubusercontent.com/11390039/34132133-85aeb9b2-e45f-11e7-92ad-161277bcdf3f.png)

[2017-12-19 02:24] thetutlage commented on #81
The command is added when you install and setup the vslidator provider

[code]

[2017-12-19 20:58] edDimensi commented on #81
Thx for answer.

[2017-12-19 20:58] #81 closed

[2018-01-07 09:06] #69 closed

[2018-01-17 09:15] bachbil opened #83 "i am having error installing adonis cli with npm"
if i am doing this command
npm i -g @adonisjs/cli
 i have this error

npm WARN optional Skipping failed optional dependency /@adonisjs/cli/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.1.3
npm ERR! Linux 4.8.0-36-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "i" "-g" "@adonisjs/cli"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ER

[2018-01-17 12:30] thetutlage commented on #83
The access to write inside `/usr/local/lib` has been denied to npm. Make sure npm can write to this directory or make use of `sudo`

[2018-01-17 12:39] RomainLanz commented on #83
I recommend you to read https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2018-01-17 12:49] bachbil commented on #83
i've been fix the issue running the command with super user
thanks

[2018-01-17 12:49] #83 closed

[2018-01-20 09:47] rakshans1 opened #84 "Not getting migration options in cli"
![image](https://user-images.githubusercontent.com/12949352/35182062-bd4e3f98-fdf3-11e7-8a8e-31a6c0d06065.png)

I am unable to run migration commands from cli v3.0.17
error: `migration:run` is not a registered command

At first the migration commands where visibe
![image](https://user-images.githubusercontent.com/12949352/35182097-4e8479fa-fdf4-11e7-9d78-ae190e83e28d.png)

I got error to install S

[2018-01-21 22:35] ammezie commented on #84
Did you create the sqlite db file?

[2018-01-22 05:31] thetutlage commented on #84
Can u share how you installed the cli? Which command did u ran to install it?

[2018-01-22 06:54] thetutlage commented on #84
Okay and can you share the output of `adonis --help`. Make sure you are in the project root, since some commands are part of project. `migration:run` is available when you are inside the project root and have configured `@adonisjs/lucid` package.

[2018-01-25 07:58] thetutlage opened #86 "Resourceful Controllers using delete method instead of destroy"
_From @bolt12 on January 21, 2018 19:1_

I just noticed that if i create a new Controller using

`adonis make:controller <name> --resource`

it will create a new file with all route resources but the last one is called delete, and looking into the docs it should be destroy.

_Copied from original issue: adonisjs/adonis-api-app#14_

[2018-01-25 07:58] thetutlage commented on #84
Closing since no response from the issue reporter and not actionable as well

[2018-01-25 07:58] #84 closed

[2018-01-25 07:59] thetutlage commented on #72
The issue is with nodemon directly. I am afraid, cannot help much here

[2018-01-25 07:59] #72 closed

[2018-01-25 13:59] ammezie commented on #86
@thetutlage already working on this?

[2018-01-25 14:39] RomainLanz commented on #86
This is already fixed.

A PR was sent by @watzon on the 7 November https://github.com/adonisjs/adonis-cli/commit/86e00216b2968dbb83720083bb938bf63e83f392

[2018-01-25 16:04] ammezie commented on #86
Awesome!!!

[2018-01-30 09:52] #86 closed

[2018-02-02 16:35] javisantos commented on #84
@thetutlage i know is closed but, same problem here with docker

Dockerfile:

FROM node:9.5.0-alpine

WORKDIR /www/app

ADD package.json /www/app
RUN npm install
RUN npm install -g @adonisjs/cli
RUN adonis --help
RUN adonis serve
ADD . /www/app

Log:

Step 6/9 : RUN npm install -g @adonisjs/cli
 ---> Running in 51d97d76652d
/usr/local/bin/adonis -> /usr/local/lib/node_modules/@adonisjs/cli/index.j

[2018-02-02 16:50] javisantos commented on #84
Fixed

FROM node:9.5.0-alpine
LABEL Javi Santos

WORKDIR /www/app

ADD package.json /www/app
RUN npm install
RUN npm install -g @adonisjs/cli
ADD . /www/app
RUN adonis migration:run
RUN adonis serve

I gues is checking for something in the congif files before showing the "migration" options

[2018-02-14 12:38] tomerof opened #93 "Error: Cannot find module ../../../ib/boxen"
Hi, i just install adois's cli on a new mac,
when I'm running the serve command I'm getting this error:
Error: Cannot find module '../../../lib/boxen'
but the server works.

[2018-02-14 13:04] RomainLanz commented on #93
Hey @tomerof! 👋

Could you try to reinstall `@adonisjs/cli` and try again?

[2018-02-14 13:31] RomainLanz commented on #93
and which version of nodejs are you using?

[2018-02-14 13:39] thetutlage commented on #93
Not sure how I shipped this weird bug. Somehow the error got swallowed on Mac. Anyways I have released a new version, please update the cli.

[code]

[2018-02-14 13:40] #93 closed

[2018-02-24 16:13] jbreuer95 opened #96 "serve --dev unable to watch uncommon file extensions"
Looking at the source code i can see you are now unable to set a custom file extensions for nodemon too watch. in my case i'm creating an graphql api so i have a lot of .graphql files, i would like to set this extension in the serve --dev command. For now i can use nodemon directly but it would be nice if you can set your own extensions. I can probably make a pr soon when i have some more time tho

[2018-03-03 08:15] vrwebdesign opened #97 "adonis new yardstick --api-only not work"
when i use this command in terminal  this error occurred

[2018-03-03 08:24] thetutlage commented on #97
Can you share the complete command and how did you installed the CLI?

[2018-03-03 08:35] vrwebdesign commented on #97
`adonis new test --api-only`

[2018-03-03 08:45] thetutlage commented on #97
You are using a way older cli

Install it as

[code]

[2018-03-03 09:31] vrwebdesign commented on #97
tnx

[2018-03-03 09:31] #97 closed

[2018-03-22 20:52] dimonnwc3 opened #99 "adonis cli inside monorepo doesn't work"
I'm trying to use adonis inside monorepo with https://lernajs.io/ and yarn/yarn workspaces

my deps:
[code]

folder structure looks so:
[code]
here is lerna config
[code]

just try to execute `adonis --help` inside `./packages/api` cwd
it throws an error:
[code]

so there is two node_modules folders
1. in project root
2. in package/api folder

as I see cli util tries to resolve `node_modules` insi

[2018-03-23 07:49] RomainLanz commented on #99
Hey @dimonnwc3! 👋

Happy to accept a PR if you find a way that doesn't break people that aren't using `lerna`/`yarn`.

[2018-03-23 19:32] dimonnwc3 commented on #99
fortunately I've just found a nice solution introduced a month ago
https://yarnpkg.com/blog/2018/02/15/nohoist/

by adding this to package.json:
[code]

hoisting could be disabled for particular modules

[2018-03-23 19:32] #99 closed

[2018-04-27 17:59] nickelghost opened #102 "repl doesn't see already defined variables"
Hello, I encountered a strange issue, where I could not use an already defined variable, because it was undefined, but I could not define it because it was already declared:
[code]

[2018-04-30 12:03] thetutlage commented on #102
I don't think this is AdonisJs problem. It is simple Javascript scoping thing and the way `let` keyword works.

Checkout the screenshot, where an equivalent version of your code breaks in Chrome console too.

<img width="565" alt="screen shot 2018-04-30 at 5 32 32 pm" src="https://user-images.githubusercontent.com/1706381/39426208-8cb3f57e-4c9c-11e8-8545-48e8bff928cd.png">

[2018-04-30 12:03] #102 closed

[2018-05-11 14:54] HZooly opened #104 "Fresh install: got Unexpected identifier"
Hello! I just installed `@adonisjs/cli`, and I'm not able to create a new project with `adonis new project`

[code]

[2018-05-11 15:20] #104 closed

[2018-05-21 17:23] nrempel opened #106 "Debug mode is not accessible for remote debugging"
nodemon --inspect defaults to 127.0.0.1:9229 for debugging. Since I use docker containers in my development workflow, my debugger cannot connect (different virtual network interface).

It should be a fairly quick/non-breaking fix:

`- nodemon --inspect`
`+ nodemon --inspect=0.0.0.0:9229`

https://github.com/adonisjs/adonis-cli/blob/develop/src/Commands/Serve/index.js#L181

What do you think?

[2018-05-21 21:49] RomainLanz commented on #106
Hey @nrempel! 👋

Could you create a PR for this fix?

[2018-05-23 04:43] nrempel commented on #106
Yes, absolutely!

I'll try and do this soon.

[2018-06-03 05:06] thetutlage commented on #106
I am not sure if Chrome is always going to stick to `9229` port or not and also if they use logic to switch between `9229` or any other port. So I don't want to hardcode it inside the code.

This PR https://github.com/adonisjs/adonis-cli/pull/88 allow passing a custom port, in your case, you can pass host and port both.

[code]

[2018-06-03 05:07] #106 closed

[2018-06-05 16:02] PieterVenter7 opened #109 "Allow for different providers for custom blueprints"
on services clone file can we change that we specify a url for the blueprint and not only use github.

`
cloneCommand = `${cloneCommand} https://github.com/${blueprint}.git "${appPath}"`
`

[2018-06-06 07:29] RomainLanz commented on #109
Hey @PieterVenter7 ! 👋

Closing in favor of the PR.

[2018-06-06 07:29] #109 closed

[2018-06-08 21:50] RomainLanz opened #111 "Bug to class name"
@danielsalles commented on [Mon Feb 19 2018](https://github.com/adonisjs/adonis-validation-provider/issues/40)

If create `validator` using `path` the `class` name bug.

Example:
`adonis make:validator User/index`

Output:
[code]

---

@alanaasmaa commented on [Sat Mar 24 2018](https://github.com/adonisjs/adonis-validation-provider/issues/40#issuecomment-375889274)

I have same issue.

Did you get

[2018-07-15 04:22] thetutlage commented on #111
The validator is generated via `adonis-validation-provider` and hence moving issue to that repo

[2018-07-15 04:22] thetutlage commented on #111
This issue was moved to adonisjs/adonis-validation-provider#56

[2018-07-15 04:22] #111 closed

[2018-07-15 04:31] #96 closed

[2018-09-10 17:07] Labelsuisse opened #116 "Mysql"
Hello everyone,
I install adonisjs --api-only and when I run the command: migration: run I get an error telling me to install sqlite.
In my .env file, I have mysql.

Help

## Package version
adonis 4.1.0

## Node.js and npm version
9.0.0

## Sample Code (to reproduce the issue)

Console :
Knex: run
$ npm install sqlite3 --save
Error: Cannot find module 'sqlite3'

My .env file :
DB_CONNECTION=mysql

[2018-09-11 04:33] Labelsuisse commented on #116
I solved my problem, it came from my computer.

[2018-09-11 04:33] #116 closed

[2018-12-28 15:40] sundowndev opened #118 "[bug] --no-ansi option returns nothing"
`--no-ansi` option returns nothing.

## Package version
4.0.10

## Node.js and npm version
node v8.15.0
npm 6.5.0

## Sample Code (to reproduce the issue)
`$ adonis --no-ansi`

## BONUS (a sample repo to reproduce the issue)

[2018-12-30 15:40] markov00 opened #119 "Use always the first configured package manager"
## Why this feature is required (specific use-cases will be appreciated)?
When you create an adonis app the first time, you select the package manager you prefer (npm or yarn currently). Thing is that this option doesn't seems to be stored somewhere so everytime I need to add a new package I always have to specify `--yarn` if my configuration was using yarn. If I forgot it than npm will kick in an

[2019-01-02 09:04] RomainLanz commented on #119
Hey @markov00! 👋

This is going to be on the next version!

[2019-01-02 09:05] RomainLanz commented on #118
Hey @sundowndev! 👋

This system is going to change in the next version.

[2019-01-05 04:47] emjeard opened #120 "Adonis CLI not work"
Hi, after install adonis cli via npm and try on command prompt always show like this.

'adonis' is not recognized as an internal or external command,
operable program or batch file.

How to solve this?
thanks before

[2019-01-05 09:34] RomainLanz commented on #120
Hey @emjeard! 👋

Ensure to have the installation folder of your global NPM module in your `PATH`.

[2019-01-12 08:34] RomainLanz commented on #120
Closing since no answer from issue reporter.

[2019-01-12 08:34] #120 closed

[2019-01-13 00:14] hckhanh opened #121 "Unsatisfied npm version 6.5.0-next.0. Please update npm to >=3.0.0 before you continue"
## Package version

## Node.js and npm version
Node: `11.6.0`
NPM: `6.5.0-next.0`

## Sample Code (to reproduce the issue)
Just run the cli with the npm version above and I received this

[code]

[2019-01-17 09:21] Yoeri-Wysselinck commented on #121
Same here :(

[2019-01-17 09:32] Yoeri-Wysselinck commented on #121
Found it! You can't run the "Latest Version" of Nodejs. You neet the "LTS" version, then it'll work

[2019-01-17 14:40] hckhanh commented on #121
@Yoeri-Wysselinck maybe the way npm name their package version is the problem. It did not follow the semver specification.

[2019-01-17 22:39] #121 closed

[2019-01-17 22:40] RomainLanz commented on #121
Should be fixed, may you download the new version via Github and give it a try to confirm it's also fixed on your side?

[2019-01-18 04:52] thetutlage commented on #118
@RomainLanz Why you think it's a bug. Works fine for me

[code]

[2019-01-18 04:53] #118 closed

[2019-01-18 05:03] thetutlage commented on #121
Released as `4.0.11`. Just update the CLI

[2019-01-23 02:56] memochou1993 opened #122 "Please add a .gitignore file in database folder for sqlite"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [forum](https://forum.adonisjs.com/), or [discord server](https://discord.me/adonisjs), if you are not sure that you are reporting a bug.
- En

[2019-01-23 07:56] RomainLanz commented on #122
Hey @memochou1993! 👋

Nothing keeps you from adding it yourself.

[2019-01-25 03:03] #122 closed

[2019-02-11 15:13] kattatzu opened #123 "Version 4.1 documented but not published"
Hello, first of all congratulate them for this excellent framework, it helps a lot to launch applications quickly.

My observation is that reading the documentation appear features that have not yet been published, specifically the option to generate validators in the console (adonis make: validator StoreUser) which corresponds to version 4.1, however the latest published version is 4.0.

Do you h

[2019-03-19 04:43] agwenchez commented on #120
After npm install -g @adonisjs/cli, i have tried to add a new path in system variables, pointing to the installation folder of the global NPM package but i still get the same problem, Adonis not recognized as an internal or external command, operable program or batch file.
Kindly assist .
Thanks

[2019-04-06 19:33] brenoos opened #132 "fs.pathExists is not a function"
Hello.

I'm trying to install the package, and I'm getting the error

![Captura de tela de 2019-04-06 16-31-36](https://user-images.githubusercontent.com/16320379/55674330-b875c300-5889-11e9-9c6a-65d83251cde6.png)

[2019-04-10 09:17] RomainLanz commented on #123
Hey @kattatzu! 👋

Sorry for the very late reply!
I didn't get your issue, the documentation for version 4.1 are published on the website.

[2019-04-11 03:26] derrikfleming opened #131 "adonis make:model model"
When attempting to create a Lucid model named `model` the command runs, but the resulting JS file is created in the `apps` directory and not `apps/Models`.

## Package version
[code]

## Node.js and npm version
[code]
[code]

## Sample Code (to reproduce the issue)
[code]

[2019-04-11 03:31] #131 closed

[2019-04-11 18:14] brenoos commented on #132
![Captura de tela de 2019-04-11 15-14-36](https://user-images.githubusercontent.com/16320379/55981150-8dfe7e00-5c6c-11e9-942f-fdc0bc5cce20.png)

Same problem, already tried with npm too

[2019-04-17 15:29] RomainLanz commented on #132
Which system are you using?
So I can try ton install a VM a try to reproduce the issue.

[2019-04-22 12:36] brenoos commented on #132
I'm on Ubuntu 18.04.2 LTS

[2019-04-22 19:52] Melchyore opened #133 "Ability to log commands and get exit code"
## Why this feature is required (specific use-cases will be appreciated)?
Since we can't monkey patch globally installed package and adonis-cli is one of them, we can't add more features from 3rd party package.

## Have you tried any other work arounds?
Yes, I tried like this in index.js (lines: 40-42) :
[code]
But it doesn't work as expected, if a command uses multiple choices, selected one will

[2019-04-23 14:59] RomainLanz commented on #133
Hey @Melchyore! 👋

I'm sorry, but I didn't get what you are trying to do.
Do you want to add commands from a third party package?

[2019-04-23 16:51] Melchyore commented on #133
Hello @RomainLanz !
No that's not what I'm looking for. What I want is to do something like this in my application
[code]
`cb` is the callback function that will return command name, arguments, options (flags), and exit code.
For example, if I run the following command `adonis make:controller Foo` the callback will return this object :
[code]

Excuse me if it wasn't clear.

As I said it's just an

[2019-04-24 03:14] thetutlage commented on #133
What’s the use case for this?

[2019-04-24 07:33] RomainLanz commented on #132
You may have something wrong with your Node.js setup to make this happen.

I've tried on macOS, Windows & Linux (Ubuntu 18.04.2 LTS) but I wasn't able to reproduce the issue.
Therefore, I'm closing this issue since it's clearly not related to Adonis nor Adonis CLI.

[2019-04-24 07:33] #132 closed

[2019-04-24 10:37] Melchyore commented on #133
@thetutlage it will help me for this https://github.com/adonisjs/rfcs/issues/16

[2019-04-24 10:49] thetutlage commented on #133
@Melchyore We first need to finalize the approach for tracking all that information and then move to individual repos and enable required API's.

Closing this for now

[2019-04-24 10:49] #133 closed, assigned to RomainLanz

[2019-04-26 07:55] McSneaky opened #134 "Allow watch override ignore directories"
## Why this feature is required (specific use-cases will be appreciated)?
Currently there is no way for Adonis CLI to watch for `tmp`, `resources` and `public` folders. Since they are hard-coded into ignore list.

It would be nice, if you can add them with `--watch` or files in them with `--ext`.
Since in underlying nodemon ignore list has power over watch list files and folders. [nodemon faq](htt

[2019-04-26 08:05] thetutlage commented on #134
The `edge` files doesn't need the server to be restarted, since they are compiled on every Http request (when CACHE_VIEWS=false).

Also, the `resources` folder is mainly in place for frontend related code, is their any specific reason you want to start AdonisJs server when your frontend code changes.

It will be nice to have some real world examples

[2019-04-26 09:05] McSneaky commented on #134
Aaaah.. Stupid me :smile:

Didn't think about views cache.. Disabling it and all works as intended

I can't figure out currently any more use-cases for it currently. If someone has any then it might come handy.

From my point of view it can be closed :slightly_smiling_face:

[2019-05-22 14:55] mfauzaan opened #135 "Npm install fails when creating new project"
## Package version

4.0.12

## Node.js and npm version

nodejs: v10.15.3
npm: 6.4.1
## Sample Code (to reproduce the issue)

adonis new yardisk

<img width="982" alt="Screenshot 2019-05-22 at 10 51 05 PM" src="https://user-images.githubusercontent.com/25294487/58184909-9672bb80-7ce4-11e9-891f-3f6d90b02ede.png">

[2019-05-22 14:56] thetutlage commented on #135
Would you mind cd into the created directory and run `npm install` manually?

[2019-05-22 14:57] Karlheinzniebuhr commented on #120
Same issue on windows 10 with npm version 6.9.0

[2019-05-22 15:00] mfauzaan commented on #135
@thetutlage works perfectly, Thank You

Is it not in that directory before trying to perform `npm install`?

[2019-05-22 15:02] thetutlage commented on #135
It does virtually CD into the directory before running npm install. However, npm install can fail coz of many reasons. Unless, this is a widely faced issue, I will let it go.

In newer versions, we will add a verbose mode, which will show the exact stack trace from any errors faced during the install

[2019-05-22 15:04] mfauzaan commented on #135
I will try to debug from cli package if i can produce the error and view the exact stack trace.

[2019-05-27 08:30] #134 closed, assigned to thetutlage

[2019-05-28 13:39] lucasemif opened #136 "Watching files for changes not working on special characters path"
## Package version
4.0.2

## Node.js and npm version
Node -> 10.12.0
NPM -> 6.4.1

#Tested Windows 10 / 2016 server

Problem: I had a project in a folder named E:\Projects\C#\MyAPI and when I run: adonis serve --dev the console showed me the message "SERVER STARTED//Watching files for change..." but it didn't acknowledged the changes I made.

Possible solution: Changed the project to E:\Projects\M

[2019-06-03 18:55] shweshi commented on #135
@thetutlage I am also facing the same issue. Would you mind taking a look into this.

[2019-06-08 06:51] RomainLanz commented on #135
It doesn't block you from using Adonis since you can CD into the directory and run the installation yourself.

We will check that after 5.0 release.

[2019-06-08 06:51] #135 closed, assigned to nobody

[2019-06-08 06:52] #123 closed

[2019-06-12 02:35] italomlp commented on #132
@RomainLanz I got this too. I was trying to install `@adonisjs/mail` and face this message:
[code]
Node version: 8.16.0 and 10.16.0
Yarn version: 1.15.2
NPM version: 6.9.0

I tried with both yarn and npm, but nothing. I think that it's from here:
https://github.com/adonisjs/adonis-cli/blob/5d519478dd22df241bab214cad59d8bc5f940280/src/Services/run-instructions.js#L31

[2019-06-26 09:01] yasinakcadev opened #138 "CommandNotFoundException"
When I type the adonis command (e.g adonis make:controller Index) the command line says
I'm using windows 10. Can anyone please help me?
adonis : The term 'adonis' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or
 if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ adonis make:controller

[2019-06-26 09:36] RomainLanz commented on #138
Hey @yasinakca! 👋

You need to add `npm` or `yarn` global installation path to your PATH variable.

[2019-06-26 10:03] yasinakcadev commented on #138
Hi @RomainLanz
I added the path already but the issue is still continuing.

Here is a snapshot:
![Screenshot_1](https://user-images.githubusercontent.com/15368330/60171355-28557300-9813-11e9-975c-16fa66b4f103.png)

[2019-06-26 10:43] RomainLanz commented on #138
This is not the path your should add.

You should add **npm** global bin path, not Adonis CLI path.
[code]

[2019-06-26 11:34] yasinakcadev commented on #138
It's working fine when I use your advice. Thank you very much.

[2019-06-26 12:16] #138 closed, assigned to RomainLanz

[2019-06-29 06:43] IlyaSovenko commented on #123
@RomainLanz But how can we use features from 4.1 version?) Cli is just 4.0.12 version, where we don't have make:test make:validator commands, and so on. Do you have date of release cli for current version of documentation? Thanks a lot

[2019-06-30 07:44] RomainLanz commented on #123
Hey @IlyaSovenko! 👋

The CLI has its own version.
Feel free to [follow the documentation](https://adonisjs.com/docs/4.1/testing#_setup) to install testing packages.

[2019-07-09 16:38] nklowns opened #151 "Adonis Cannot find module"
## Prerequisites
Follow the instructions here https://adonisjs.com/docs/4.1/installation
[code]

then run adonis on powershell
[code]

## Package version
@adonisjs/cli@4.0.12

## Node.js and npm version
Node.js v10.16.0
Npm v6.9.0

[2019-07-13 12:21] agtabesh commented on #151
I have the same problem. A fresh install tell me there is two vulnerabilities and ask me to run `npm audit fix` to resolve them. `npm audit` returns this:
[code]

But right after running `npm audit fix`, any adonis command throw an error like this:

[code]

## Package version
@adonisjs/cli@4.0.12

## Node.js and npm version
Node.js v10.15.1
Npm v6.10.1

[2019-07-27 09:08] yusren commented on #120
I also faced this problem.
Step one
Run `npm i -g @adonisjs/cli` with Non Administrator's access CLI.
then make sure the lines below are in the PATH list, both on user variables and system variables. Then restart the CLI. Give it try.
`C:\Users\<username>\AppData\Roaming\npm`

[2019-07-31 08:50] mq003at commented on #120
It doesn't work for me. I tried to install but there is no adonis cli directory  `C:\Users\<username>\AppData\Roaming\npm\node_modules`. I can't even find the `.cmd` files to put it in the `PATH`.
I have this issue with ionic, but quickly solve it by putting these `.cmd` files in system variables, but Adonis/cli github doesn't provide a `.cmd` file

[2019-07-31 09:05] mq003at commented on #151
I also have an error like that

`internal/modules/cjs/loader.js:626
    throw err;
    ^

Error: Cannot find module 'C:\Users\mq003\AppData\Roaming\@adonisjs\cli\index.js'
?[90m    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:623:15)?[39m
?[90m    at Function.Module._load (internal/modules/cjs/loader.js:527:27)?[39m
?[90m    at Function.Module.runMain (internal/modules/cjs/l

[2019-07-31 23:15] Secular12 commented on #151
@agtabesh I ran into the same problem, have you found a fix or a way to revert back? Now I cannot use Adonis at all

[2019-08-01 04:31] thetutlage commented on #151
Upgrading to a major release of any package and still expect it to work is a false assumption.

Simply use the version `5.0.8` of ace and everything will be fine

[2019-08-01 10:48] mayankgandhi commented on #151
Having the same problem for one of my applications. Are you guys on MacOS Catalina Public Beta by any chance?

[2019-08-01 11:30] thetutlage commented on #151
@mayankgandhi Did you even read the last comment? You should not upgrade the version of `@adonisjs/ace` in your app

[2019-08-04 03:34] nklowns commented on #151
Solved by @thetutlage

[2019-08-04 03:34] #151 closed, assigned to nobody

[2019-09-09 14:03] leandrofinger opened #164 "Adonis command doesn't recognize my project in Staging environment"
I'm using Capistrano to do deploys in Staging and when I go to the app directory (inside current release) I run the command `adonis repl` and nothing happen. When I run just `adonis` to see the available commands, it seems to not recognize the project as an Adonis project.
[code]

This is my directory tree:
[code]

[2019-09-21 11:39] RomainLanz commented on #164
Hey @leandrofinger! 👋

In which directory do you execute the `adonis` command?

[2019-09-21 11:42] leandrofinger commented on #164
Hi Romain!

As Capistrano deploys the application into a current directory, I ran the
command inside of it.

On Sat, Sep 21, 2019, 08:39 Romain Lanz <notifications@github.com> wrote:

[2019-10-17 13:18] minhtranin commented on #120
i even faced with issue, can anyone help me ? kindly assist

[2019-10-22 23:16] MarcusPianco opened #168 "Link to Documentation Installing in README.md is broken"
## Prerequisites
Enter in adonis-cli repository and try to access documentation link that was indicated.

- The link is broken
- The return is 404 status error

[2019-10-30 22:17] hashrc opened #170 "adonis serve --dev fails without error information if fs.inotify.max_user_watches=8192"
##  Package version
4.0.12

## Node.js and npm version
OS : ubuntu 18.04
Node JS - version - 10.4.2
Yarn version : 1.9.1
###
## Sample Code (to reproduce the issue)
echo fs.inotify.max_user_watches=8192 | sudo tee -a /etc/sysctl.conf
sudo sysctl -p
adonis serve --dev

[2019-10-31 08:25] RomainLanz commented on #164
Hey @leandrofinger! 👋

Sorry for the delay.
Have you managed to fix the issue?

What happen when you run `node ace` in this repository?

[2019-10-31 08:26] RomainLanz commented on #168
Closing in favor of the PR.

[2019-10-31 08:26] #168 closed, assigned to nobody

[2019-10-31 08:27] RomainLanz commented on #170
Hey @hashrc! 👋

We would need more information about what you are trying to do.

[2019-10-31 16:35] hashrc commented on #170
I was trying to start my project in newly installed ubuntu 18.04.
i think the initial value of fs.inotify.max_user_watches is 8192 on ubuntu 18.04.

i think reason it doesn't give an error because nodemon exits with error code 1.
package : nodemon
File : nodemon/lib/monitor/watch.js
line No : 112

[2019-11-07 11:21] thetutlage commented on #136
The newer version of cli (unreleased) is a re-write from scratch. Closing the issue, unless it gets re-created from newer version as well.

[2019-11-07 11:49] thetutlage commented on #170
Shouldn't this be an issue with Nodemon instead?

[2019-11-28 07:38] masonchoo10 opened #174 "Could not install Adonis using NPM"
Recentltly when I run the command  `npm i --global @adonisjs/cli` , I encountered the following errors:

[code]

I checked no node_modules are being installed. Can you advise what's going on? Thanks in advance

My Node Version: 12.13.0
My NPM Version: 6.13.1

[2019-11-28 08:12] RomainLanz commented on #174
Hey @chookarchun20! 👋

There's nothing wrong, NPM warn you about few things, but nothing breaks and as the last line said, it has been installed.

[2019-11-28 08:21] RomainLanz commented on #164
Closing since issue hasn't been active for a while.
Feel free to create a new one if needed.

[2019-11-28 08:21] #164 closed, assigned to nobody

[2019-11-28 18:11] evgenx commented on #174
After install adonis cli I try:
`adonis new appName`
but:
`adonis not internal or external command`
How set manual $PATH ?

[2019-11-28 18:15] masonchoo10 commented on #174
@evgenx I faced the same issue before. But  try updating Node to version 13 and it seems the issue is gone. Give it a try too.

[2019-11-28 19:33] evgenx commented on #174
@chookarchun20 nothing changed.
[code]

[2019-11-28 19:44] RomainLanz commented on #174
Feel free to follow this tutorial to know how to setup your PATH variable on Windows: https://www.computerhope.com/issues/ch000549.htm

[2019-11-28 19:44] #174 closed, assigned to RomainLanz

[2019-12-05 13:51] odansantos opened #175 "Cannot read property 'major' of null"
## Package version
4.0.12

## Node.js and npm version
Nodejs: 12.13.1
Npm: 6.12.1
Ubuntu: 19.10

## Sample Code (to reproduce the issue)
![](https://i.imgur.com/plDjnbg.png)

[2020-01-13 11:55] Trapintrovert commented on #120
Thank you. You saved a life!

[2020-01-15 13:13] odansantos commented on #175
I had installed node js via snap. When installing without it, worked normally

[2020-01-15 13:13] #175 closed, assigned to nobody

[2020-01-21 15:05] mohssineAboutaj commented on #175
Any solution ?
I cant use nodeJs from **apt** because it's install only v8, so i'm using nodeJs from **snap**

### Update:
I use this solution to get [nodeJs v12](https://websiteforstudents.com/how-to-install-node-js-10-11-12-on-ubuntu-16-04-18-04-via-apt-and-snap/)

[2020-01-24 01:13] bingalls opened #177 "deprecated warnings"
## Package version
4.0.12

## Node.js and npm version
node 13.7.0
npm 6.13.6

## Sample Code (to reproduce the issue)
npm i -g @adonisjs/cli

Yields these warnings. Critical bug looks important
[code]

[2020-01-24 08:37] RomainLanz commented on #177
Hey @bingalls! 👋

This is not an issue at all.
Closing.

[2020-01-24 08:37] #177 closed, assigned to RomainLanz

[2020-03-31 20:28] CristianEchartea commented on #151
Me sucedio el mismo error y era por que habia instalado una version mas reciente, me di cuanta cuando entre a mi package.json especialmente viendo las siguientes lineas dentro de las dependecias:
"@adonisjs/ace": "^6.8.4",
"@adonisjs/lucid": "^7.6.3",

Yo lo resolvi cambiando las versiones por las siguientes:

"@adonisjs/ace": "^5.0.8"
 "@adonisjs/lucid": "^6.1.3",

Guarde los cambios y ejecute el

[2020-05-02 22:49] mrshll commented on #39
I find this to still be the case in v4.0.12

[code]

[2020-05-09 21:30] pavei opened #181 "[Question] - Custom Generators"
Is possible to create custom generators? Ex: i want to change --resource template, to my format. Is there any way to do this?

[2020-05-14 12:09] ghost opened #182 "Fix broken anchor links and improve contribution guidelines"
Hello, @thetutlage!

I noticed that there are many broken anchor links in the [CONTRIBUTING.md](https://github.com/adonisjs/adonis-cli/blob/develop/CONTRIBUTING.md) file. I want to help correct them and also improve the contribution guidelines by adding more detailed information.

Can I help with it?

[2020-05-19 14:10] ghost commented on #182
I have some doubts about where to point some anchor links, @thetutlage. Can you help me?

The first one is in the Coding style section. Where should I aim?

Can it be [StandardJS](https://standardjs.com)?

[2020-06-04 22:39] niradler opened #184 "not watching for file change on wsl"
file watcher dont work on wsl2 ubuntu 20

## Package version
4.1.0

## Node.js and npm version
v13.5.0 6.14.5

## Sample Code (to reproduce the issue)
adonis serve --dev

[2020-08-14 17:32] JCaye opened #186 "Adonis Cli fails to install"
This started in the last couple of hours, it seemed to work beforehand. Upon installing the adonis cli, i get the following error:

`npm ERR! Invalid tag name "dot-prop@npm:dot-prop-legacy@^4.2.1": Tags may not have any characters that encodeURIComponent encodes.`

adonis cli version: 4.0.12
node: 11.15.0
npm: 6.7.0

## Sample Code (to reproduce the issue)
npm i @adonisjs/cli@4.0.12

[2020-08-14 23:49] JCaye commented on #186
Seems to be fixed now.

[2020-08-14 23:49] #186 closed, assigned to nobody

[2020-08-26 05:36] benknight opened #188 "Clarify difference between `adonis serve` with and without --dev flag"
`adonis serve --help` shows:

[code]

As far as I can gather what this actually means is it will watch files for changes while `adonis serve` (without the flag) won't

[2020-08-28 09:10] thetutlage commented on #188
Yes. The `--dev` flag means a file watcher will monitor for file changes. I am happy to accept the PR to improve the flag description :)

[2020-11-19 10:31] 5hanth opened #190 "repl breaks on Node v15.0.0 TypeError: Cannot set property 'history' of undefined"
https://github.com/adonisjs/adonis-cli/blob/3fb526b8c0f2aad4d0e9e8eafd853a92f8aed704/src/Commands/Repl/index.js#L62

cause: rli got deprecated https://github.com/nodejs/node/pull/33286

[2021-03-01 19:02] afshinrahmati commented on #174
Do you find it ??? please say to me

[2021-04-09 05:48] luccabassoli commented on #151
Hello, I need to make cron (task) run my website invoices, but it doesn't work because it can't find the module that would be my file, does anyone know how we can fix it?